<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones mas reproducidas</title>
    <style type="text/css">
        table, th, td {
        border: 1px solid black;
            border-collapse: collapse;
            }
            </style>
</head>
<body>
    <form action="">
        <h1>hollaa</h1>        <!-- mostrar grafica sin tabla -->

        <!-- <table style="margin: 0 auto; width:75%">
            <th>Cancion</th>
            <th>Album</th>
            <th>Artista</th>
            <th>Numero de veces reproducida</th> 
            aqui iterar las canciones y mostrarlas
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </table> -->
        
    </form>
</body>
</html>